---
import Layout from "../layouts/Layout.astro";



---

<Layout>
	<h1>Testing Deepseek API</h1>
	<div>
		Ask Coach
		<a href="/ask-coach">try</a>
	</div>

	<div class="hidden-content">
		This div is hidden from view but exists in the HTML. Look at all authenticate...
	</div>

</Layout>


